* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/* section padding */
.section-p {
  padding: 1.5rem 1rem;
  margin-top: 1rem;
}

/*============== nav-section styling =============== */
nav {
  top: 0;
  position: sticky;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.nav-link {
  position: relative;
  display: inline-block;
}
.nav-link:hover {
  content: "";
}
.nav-link:hover::after {
  content: "";
  position: absolute;
  background-color: red;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 50%;
  right: 0;
}
.navbar-brand,
.bi-shop {
  cursor: default;
}
.nav-icons i {
  cursor: pointer;
}

/* ================= CART ==================== */
#cart {
  width: 420px;
  position: fixed;
  background: rgb(253, 253, 250);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  z-index: 3;
  height: 100%;
  padding: 3.5rem 2.5rem;
  top: 0;
  right: -100%;
  transition: 0.3s ease;
}
#cart .bi-x {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.cart-title-center {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.cart-card {
  display: flex;
  margin-bottom: 1rem;
  gap: 3rem;
}

.cart-img img {
  width: 100px;
  height: 100px;
}
.cart-content h3 {
  font-size: 17px;
  font-weight: 400;
}
.cart-img-price {
  color: red;
  display: inline-flex;
  font-weight: 500;
  margin-bottom: 1rem;
}
.cart-amount,
.cart-amount-content {
  display: flex;
  align-items: center;
}
.cart-amount {
  column-gap: 3rem;
}
.cart-amount-content {
  gap: 15px;
}
.cart-amount-box {
  background-color: rgb(244, 237, 237);
  cursor: pointer;
}
.bi-trash3 {
  color: red;
  cursor: pointer;
}
.cart-item-prices {
  margin: 4rem 0;
  display: flex;
  justify-content: space-between;
}
.cart-item-total {
  font-weight: bold;
  font-size: 1.2rem;
}
/* ============== SHOW CART=============== */
#cart.show-cart {
  right: 0;
}

/* ================= LOGIN =================== */
#login {
  width: 420px;
  position: fixed;
  background: rgb(253, 253, 250);
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.2);
  z-index: 3;
  height: 100%;
  padding: 3.5rem 2.5rem;
  top: 0;
  right: -100%;
  transition: 0.3s ease-in-out;
}

#login .bi-x {
  font-size: 2.5rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.login-title-center {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.login-content {
  display: flex;
  margin-bottom: 1rem;
  gap: 3rem;
}
.login-content label {
  position: absolute;
  padding: 0.7rem;
  font-weight: 500;
}
.login-content input {
  width: 100%;
  padding: 1.7rem;
  outline: none;
  border: none;
  background-color: rgb(244, 237, 237);
  border-radius: 16px;
  margin: 0.25rem 0.5rem 0.5rem 0;
}
.login-btn {
  background-color: rgb(226, 9, 9);
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.login-btn:hover {
  opacity: 0.7;
}
.sign-up-text {
  font-weight: 400;
  margin-top: 1rem;
}
.sign-up-text a {
  color: red;
  font-weight: 500;
}
/* ============== SHOW LOGIN ============== */
#login.show-login {
  right: 0;
}

/*============ Change background header ===================*/
.scroll-header {
  background-color: aliceblue;
  box-shadow: 0 1px 4px rgb(135, 164, 189);
}
/*====================== hero section ======================*/
.swiper-pagination {
  position: initial;
  margin-top: 2rem;
}
.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: black;
  opacity: 1;
}
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0.5rem;
}
.swiper-pagination-bullet-active {
  width: 1.5rem;
  height: 5px;
  border-radius: 5rem;
}

/*===================== discount section ======================= */

#discount .container {
  margin: 30px auto;
  width: 80%;
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid rgb(244, 237, 237);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
/* ===========new arrival================= */

#arrival h1 {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  margin-bottom: 2.5rem;
}
#arrival img {
  width: 150px;
  height: 150px;

  margin: 1.2rem 0;
  transition: 0.3s;
}
.new-content {
  position: relative;
  background-color: rgb(253, 253, 250);
  width: 310px;
  padding: 2rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
#arrival .new {
  position: absolute;
  top: 3%;
  left: 8%;
  margin-bottom: 2rem;
}
#arrival h3 {
  font-size: 18px;
  text-wrap: nowrap;
  margin-bottom: 0;
}
#arrival p {
  margin-top: 0;
}
#arrival .new-price {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: bold;
}
#arrival .discount-price {
  text-decoration: line-through;
  color: red;
  font-size: 11px;
  font-weight: 500;
}
#arrival a {
  position: absolute;
  border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
  display: inline-flex;
  bottom: 0;
  right: -3rem;
}
#arrival .new-content:hover img {
  transform: translateY(0.75rem);
}
#arrival .new-content:hover a {
  right: 0;
}
/* ============= STEPS ============== */
#step .container {
  background: rgb(253, 253, 250);
  border-radius: 10px;
  padding: 3.5rem 2.5rem;
}
.step-row {
  margin: 2rem 4rem;
  padding: 10px 0;
  /* flex-wrap: nowrap; */
}
.step-col {
  background: rgb(235, 245, 248);
  padding: 15px;
  margin: 10px;
  cursor: pointer;
  border-radius: 8px;
}
.step-col:hover .step-num {
  transform: translateY(-0.5rem);
}
.step-num {
  margin: 2rem 0;
}
/* ============steps section========== */
.email-container {
  position: relative;
  max-width: 400px;
  margin: auto;
}

.email-container input {
  width: 100%;
  padding: 2rem 5rem 2rem 1.5rem;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  outline: none;
  background: rgb(253, 253, 250);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.email-container button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  padding: 10px 15px;
}
/* ================= FOOTER ==================== */
footer a {
  text-decoration: none;
}
/* ================= SCROLL UP =============== */
.scroll-up {
  position: fixed;
  right: 1rem;
  bottom: -30%;
  display: inline-flex;
  opacity: 0.8;
  transition: 0.3s;
}
.scroll-up:hover {
  opacity: 1;
}

.show-scroll {
  bottom: 3rem;
}

/* ============== This is the side scrollbar in browsers ================ */
::-webkit-scrollbar {
  width: 0.6rem;
  background: hsl(250, 12%, 90%);
  border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: hsl(250, 12%, 80%);
  border-radius: 0.5rem;
}
